<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>Ajouter un cours</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link th:rel="stylesheet" th:href="@{assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</head>

<body>
  <header th:insert="header.html :: header"></header>
  <div class="container-fluid h-100 bg-light text-dark">
    <div class="row justify-content-center align-items-center">
      <h1>Formulaire création d'un cours</h1>
    </div>
    <hr />
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form action="#" th:action="@{/cours}" th:object="${cours}" method="post">
          <!-- Nom UE  input -->
          <div class="form-group">
            <input type="text" id="nom_ue" class="form-control" th:field="*{nom_ue}" />
            <label class="form-label" for="nom_ue">Nom de la matière</label>
          </div>
          <!-- Date input -->
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" th:field="*{date}" id="date" />
          </div>
          <!-- Horaire début input -->
          <div class="form-group">
            <label for="horaire_debut">Horaire début :</label>
            <div class="input-group date" id="event_time">
              <input type="text" id="horaire_debut" placeholder="Time" class="form-control"
                th:field="*{horaire_debut}" />
              <div class="input-group-addon input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-clock-o"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- Horaire fin input -->
          <div class="form-group">
            <label for="horaire_fin">Horaire fin :</label>
            <div class="input-group date" id="event_time">
              <input type="text" id="horaire_fin" placeholder="Time" class="form-control" th:field="*{horaire_fin}" />
              <div class="input-group-addon input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-clock-o"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- Niveau input -->
          <div class="form-group">
            <select id="niveau" class="form-control" th:field="*{niveau}">
              <option th:each="niveau : ${liste_niveaux}" th:value="${niveau.getId}" th:text="${niveau.toString}">
              </option>
            </select>
          </div>
          <!-- Salle input -->
          <div class="form-group">
            <select id="salle" class="form-control" th:field="*{salle}">
              <option th:each="salle : ${liste_salles}" th:value="${salle.getSalleId}" th:text="${salle.toString}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col"><button class="col-6 btn btn-primary">Ajouter</button></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/moment/moment.min.js}"></script>
<script th:src="@{assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>

<script>
  $('#event_time').datetimepicker({
    "allowInputToggle": true,
    "showClose": true,
    "showClear": true,
    "showTodayButton": true,
    "format": "HH:mm:ss",
  });
</script>

</html>